# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Optional: Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore generated HTML map files
depot_selection_map.html
map.html
frontend/depot_selection_map_*.html
initial_solution.json
